/***************************** MOBILE FIRST *****************************/

.main-head {
	background: url('../img/tw_background.jpg') 50% 100% no-repeat;
	padding: 3em 0 2em 0;
}
.container {
	max-width: 1280px;
	margin: 0 auto;

	.header {
		padding-bottom: 4em;	
		.title {
			width: 40%;
		}
		.how-it-works {
			width: 55%;
			text-align: right;
			padding-top: 1em;
		}
	}
	
}
.main-left {
	width: 60%;
	padding-right: 2em;

	h1 {
		text-transform: uppercase;
		font-size: 4em;
	}

	p {

	}
}
.main-right {
	width: 40%;
	padding-left: 2em;


	.send-text {
		background: white;
		border-right: none;
	}

	select {
		color: none;
		background: none;
		border: none;
	}

	.via {
		text-align: center;
		color: rgb(100,100,100);
		padding: 1em 0;
	}
	.via-link {
		text-align: center;
		color: rgb(10,10,10);
		padding: 0.5em 0;
		span {
			padding: 1em;
			margin-right: 1em;
			background: rgba(255,255,255,0.4);
			border-radius: 4px;
		}
	}
	.tabpanel {
		text-align: center;
	}
	.payment-choice {
		> li  {
			position: relative;
			display: inline-block;
				> a {
				position: relative;
				display: block;
				padding: 10px 15px;
				border-radius: 4px;
				color: green;
				text-decoration: none;
				background-color: transparent;
				background: rgba(200,200,200,0.5);

				&:hover, &:focus {
					background: rgba(200,200,200,0.8);
				}
			}
		}
		>li.active>a, >li.active>a:hover, >li.active>a:focus {
			color: white;
			background: green;
		}
	}
	.left {
		float: left;
		padding-top: 0.2em;
	}

	#creditCard, #bankTransfer {
		background: rgba(255,255,255,0.9);
		border-radius: 4px;
		padding: 1em;
	}
	#creditCard {

	}
	#bankTransfer {
		line-height: 1.5em;
		.amountDeclare {
			vertical-align: super;
		}
		.footNote {
			border-top: 1px solid rgb(100,100,100);
			margin-top: 2em;
			color: rgb(100,100,100);
			font-size: 0.8em;
		}
	}
}



// TransferWise copy+paste

// END

.footer-container {
	max-width: 1280px;
	margin: 0 auto;
	.footer {
		text-align: center;
		padding: 2em 0;
	}
}



/***************************** TABLETS *****************************/
@media (min-width: 40em) {
}




/***************************** DESKTOPS *****************************/
@media (min-width: 60em) {
}