/* base.scss */

@import 'bp';
@import 'main';

/* COLOURS */
$primary-light: rgb(100,100,100);
$primary-dark: rgb(10,10,10);

/* FONT STACK */
$font-serif: Georgia, serif;
$font-sans: Helvetica, Arial, sans-serif;