
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="main-head">
  <div class="container block-group">
    <div class="header block">
      <div class="block-group">
        <div class="title block"><h1>URL<strong>pay</strong></h1></div>
      </div>
    </div>
    <div class="block-group">

      <div class="receive-main block ">
        <h1>Somebody wants to send you money via URL<strong>pay</strong>. Enter your bank account IBAN and currency below to finish the transfer.</h1>
        <form role="form" class="receive-form">
          <div class="form-group">




            <input type="text" class="form-control receive-iban" id="receiverIban" placeholder="Your bank account IBAN">
          </div>
          <button type="submit" class="btn btn-success receive-button">Finish transfer!</button>
        </form>
      </div>

    </div>
  </div>
</div>